:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.detailsBox{
  padding: 20px;
  outline: none ;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  

}
::-webkit-scrollbar {
  width: 10px;
 
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  margin-right: 10px;
  background: rgb(231, 231, 231); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e; 
}

.flex-col2{
 
  width: 100%;
 
  line-height: 0px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(2,1fr);
  row-gap: 0;
  margin-bottom: 5px;
  
}
.paper-details{
  margin-top: 50px;
  width: 500px;
  overflow-y: scroll;
  padding: 10px 0px;

}
.container-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #6e6e6e;
  position: fixed;
  margin-bottom: 450px;
  z-index: 1;
  border: solid 5px white;
}

.container-image img{
  width: 150px;
}
.content-details{
  
}
.bold{
  font-weight: bolder;
  font-size: 18px;
}